:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
}

.navbar {
    font-weight: 600;
    display: flex;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center;
    padding: 20px; /* Espaçamento superior */
}

.title-fav {
    display: flex;
    align-items: center; /* Alinha o texto e o ícone verticalmente */
    margin-left: -3%;
    font-size: 50px; /* Ajuste o tamanho da fonte do título */
    color: crimson;
  
}

.heart {
    width: 40px;
    height: 40px;
    background: Crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px; /* Espaço entre o título e o ícone */
    border-radius: 50%;
    border: 1px solid var(--gelo);
    font-size: 24px;
    color: var(--preto);
}
.heartMenu{
        width: 10px;
        height: 10px;
        background: var(--branco);
        border-radius: 50%;  
        align-items: center;
        justify-content: center;
        color: var(--preto);
        border: 1px solid var(--gelo);
        font-size: 18px;
}
.mudancaDeCor {
    color: red; /* Exemplo: Muda a cor do ícone para vermelho */
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    font-size: 18px;
}
.mudancaDeCor {
    color: red; /* Muda a cor do ícone para vermelho */
    border: 1px solid red; /* Muda a borda para vermelho */
}
