:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
}
.navbar{
    font-weight: 600;
    margin-left: 5%;
    color: Crimson;
    align-items: center;
    justify-content: space-between;
}
.title-fav{
    font-weight: 600;
    margin-left: 5%;
}
.ri-heart-fill{
        width: 40px;
        height: 40px;
        background: Crimson;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
        border-radius: 50%;
        border: 1px solid var(--gelo);
        font-size:  24px;
        color: var(--preto);
        margin-left: 400px;
        margin-right: 300px;
        
            
}